<a href="https://colab.research.google.com/github/jithesh9539/Market_Basket_Analysis_CMPE256/blob/main/Market_Basket_Apriori_CMPE256.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing Dependencies**

In [2]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules

**Loading Dataset and formatting accordingly**

In [13]:
df = pd.read_csv('/content/TRAIN-ARULES.csv')
df.product_name = ["".join(i.split(",")) for i in df.product_name]
orders = df.order_id.unique()
transactions = [df[df.order_id == i]["product_name"].tolist() for i in orders]
trans_encoder = TransactionEncoder().fit(transactions)
transactions = trans_encoder.transform(transactions)
transactions = pd.DataFrame(transactions,columns=trans_encoder.columns_)

**Finding Frequent Itemset and Association rules**

In [14]:
freq_itemset_using_apriori = apriori(transactions, min_support = 0.01, use_colnames = True)
association_rules_using_apriori = association_rules(freq_itemset_using_apriori, metric = "confidence")

**Association rules using Apriori Method**

In [15]:
print("Association Rules using Apriori Method:- \n")
for item in association_rules_using_apriori.iterrows():
  print(f"Rule {item[0] + 1}: {tuple(item[1].antecedents)} -> {tuple(item[1].consequents)}")

Association Rules using Apriori Method:-

Rule 1: ('Authentic French Brioche',) -> ('Petit Suisse Fruit',)
Rule 2: ('Petit Suisse Fruit',) -> ('Authentic French Brioche',)
Rule 3: ('Oatmeal Crème Pies',) -> ('Cran-Apple Juice Drink',)
Rule 4: ('Cran-Apple Juice Drink',) -> ('Oatmeal Crème Pies',)
Rule 5: ('Sparkling Water Natural Mango Essenced',) -> ('Dark Chocolate Minis',)
Rule 6: ('Grade A Extra Large Eggs',) -> ('Natural Lime Flavor Sparkling Mineral Water',)
Rule 7: ('Lemon Sparkling Water',) -> ('Orange Sparkling Water',)
Rule 8: ('Light Oaked Chardonnay',) -> ('Natural Lime Flavor Sparkling Mineral Water',)
Rule 9: ('Reduced Fat Milk',) -> ('Natural Artesian Bottled Water',)
Rule 10: ('Organic Graham Crunch Cereal',) -> ('Organic Heritage Flakes Cereal',)
Rule 11: ('Sparkling Water Natural Mango Essenced',) -> ('Organic Pink Lemonade Bunny Fruit Snacks',)
Rule 12: ('Sparkling Water Natural Mango Essenced',) -> ('Peach-Pear Sparkling Water',)
Rule 13: ('Zero Calorie Cola',) -> ('Soda',)
Rule 14: ('Total 0% Raspberry Yogurt',) -> ('Total 2% with Strawberry Lowfat Greek Strained Yogurt',)
Rule 15: ('Total 2% Lowfat Greek Strained Yogurt With Blueberry',) -> ('Total 2% with Strawberry Lowfat Greek Strained Yogurt',)
Rule 16: ('Organic Pink Lemonade Bunny Fruit Snacks', 'Peach-Pear Sparkling Water') -> ('Dark Chocolate Minis',)
Rule 17: ('Dark Chocolate Minis', 'Peach-Pear Sparkling Water') -> ('Organic Pink Lemonade Bunny Fruit Snacks',)
Rule 18: ('Organic Pink Lemonade Bunny Fruit Snacks', 'Sparkling Water Natural Mango Essenced') -> ('Dark Chocolate Minis',)
Rule 19: ('Dark Chocolate Minis', 'Sparkling Water Natural Mango Essenced') -> ('Organic Pink Lemonade Bunny Fruit Snacks',)
Rule 20: ('Sparkling Water Natural Mango Essenced',) -> ('Organic Pink Lemonade Bunny Fruit Snacks', 'Dark Chocolate Minis')
Rule 21: ('Dark Chocolate Minis', 'Peach-Pear Sparkling Water') -> ('Sparkling Water Natural Mango Essenced',)
Rule 22: ('Dark Chocolate Minis', 'Sparkling Water Natural Mango Essenced') -> ('Peach-Pear Sparkling Water',)
Rule 23: ('Peach-Pear Sparkling Water', 'Sparkling Water Natural Mango Essenced') -> ('Dark Chocolate Minis',)
Rule 24: ('Sparkling Water Natural Mango Essenced',) -> ('Dark Chocolate Minis', 'Peach-Pear Sparkling Water')
Rule 25: ('Light Oaked Chardonnay', 'Grade A Extra Large Eggs') -> ('Natural Lime Flavor Sparkling Mineral Water',)
Rule 26: ('Light Oaked Chardonnay', 'Natural Lime Flavor Sparkling Mineral Water') -> ('Grade A Extra Large Eggs',)
Rule 27: ('Organic Heritage Flakes Cereal', 'Peach-Pear Sparkling Water') -> ('Organic Pink Lemonade Bunny Fruit Snacks',)
Rule 28: ('Organic Pink Lemonade Bunny Fruit Snacks', 'Peach-Pear Sparkling Water') -> ('Sparkling Water Natural Mango Essenced',)
Rule 29: ('Organic Pink Lemonade Bunny Fruit Snacks', 'Sparkling Water Natural Mango Essenced') -> ('Peach-Pear Sparkling Water',)
Rule 30: ('Peach-Pear Sparkling Water', 'Sparkling Water Natural Mango Essenced') -> ('Organic Pink Lemonade Bunny Fruit Snacks',)
Rule 31: ('Sparkling Water Natural Mango Essenced',) -> ('Organic Pink Lemonade Bunny Fruit Snacks', 'Peach-Pear Sparkling Water')
Rule 32: ('Organic Pink Lemonade Bunny Fruit Snacks', 'Dark Chocolate Minis', 'Peach-Pear Sparkling Water') -> ('Sparkling Water Natural Mango Essenced',)
Rule 33: ('Organic Pink Lemonade Bunny Fruit Snacks', 'Dark Chocolate Minis', 'Sparkling Water Natural Mango Essenced') -> ('Peach-Pear Sparkling Water',)
Rule 34: ('Organic Pink Lemonade Bunny Fruit Snacks', 'Peach-Pear Sparkling Water', 'Sparkling Water Natural Mango Essenced') -> ('Dark Chocolate Minis',)
Rule 35: ('Dark Chocolate Minis', 'Peach-Pear Sparkling Water', 'Sparkling Water Natural Mango Essenced') -> ('Organic Pink Lemonade Bunny Fruit Snacks',)
Rule 36: ('Organic Pink Lemonade Bunny Fruit Snacks', 'Sparkling Water Natural Mango Essenced') -> ('Dark Chocolate Minis', 'Peach-Pear Sparkling Water')
Rule 37: ('Dark Chocolate Minis', 'Peach-Pear Sparkling Water') -> ('Organic Pink Lemonade Bunny Fruit Snacks', 'Sparkling Water Natural Mango Essenced')
Rule 38: ('Dark Chocolate Minis', 'Sparkling Water Natural Mango Essenced') -> ('Organic Pink Lemonade Bunny Fruit Snacks', 'Peach-Pear Sparkling Water')
Rule 39: ('Peach-Pear Sparkling Water', 'Sparkling Water Natural Mango Essenced') -> ('Organic Pink Lemonade Bunny Fruit Snacks', 'Dark Chocolate Minis')

**Load_Test_Rules**

In [6]:
data_frame_test = pd.read_csv('/content/testarules.csv')
data_frame_test.product_name = ["".join(i.split(",")) for i in data_frame_test]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [7]:
data_frame_test['Item1']

0    Dark Chocolate Minis
Name: Item1, dtype: object

In [8]:
freq_itemset_using_apriori[ freq_itemset_using_apriori['itemsets'] == {'Dark Chocolate Minis'} ]

     support                itemsets
26  0.021157  (Dark Chocolate Minis)

In [9]:
data_frame_test['Item2']

0    Organic Pink Lemonade Bunny Fruit Snacks
Name: Item2, dtype: object

In [10]:
freq_itemset_using_apriori[ freq_itemset_using_apriori['itemsets'] == {'Organic Pink Lemonade Bunny Fruit Snacks'} ]

     support                                    itemsets
97  0.020451  (Organic Pink Lemonade Bunny Fruit Snacks)

In [11]:
data_frame_test['Item3']

0    Peach-Pear Sparkling Water
Name: Item3, dtype: object

In [12]:
freq_itemset_using_apriori[ freq_itemset_using_apriori['itemsets'] == {'Peach-Pear Sparkling Water'} ]

      support                      itemsets
116  0.016925  (Peach-Pear Sparkling Water)